<h1>All Contacts</h1>

<section>

  <div class="row">

    <% @contacts.each do |contact| %>

      <div class="col-md-6">
        <div class="contact_single">
          <a href="/contacts/<%= contact.id %>" title="View Contact">
          <h2><%= contact.full_name%></h2></a>
          <h3>Email: <%= contact.email %></h3>
          <h3>Phone: <%= contact.phone_number %></h3>
        </div>
      </div>
  <% end %>
</div>
</section>
